.logo{
      font-family: monospace;
  }
  li {
    float: left;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
li a {
  display: block;
  color: white;
  text-align: center;
  padding:20px   100px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}
.logo{
  color: olivedrab;
 font-size: xx-large;
 padding-top: 20px;
}
.image1{
  width: 100%;
  height: 400px;
}
.container {
  position: relative;
  text-align: center;
  color:white;
}
.centered {
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color:white;
  font-size:large;
}
.centered h1{
    color: peru;
}
.image2{
  float: right;
  border-radius: 80%;
  height: 5cm;
  width: 12cm;
  /* border-bottom: 30px; */
  margin-right: 3cm;
}
.text2{
  margin-top: 1cm;
  color: rgb(117, 145, 223);
  margin-left: 2cm;
}
.text2 h1{
    color: white;
}
.image3{
  float:left;
  border-radius: 80%;
  height: 5cm;
  width: 12cm;
  border-bottom: 30px; 
  margin-left: 3cm;
  margin-top: 2cm;
}
 .text3{
  float: right;
  color: rgb(117, 145, 223);
  margin-right: 2cm;
 
} 
.text3 h1{
    color:white;
}  

.description{
  background-color: rgb(216, 212, 212);
  height: 100%;
  margin-top: -1cm;
}
*{
  box-sizing: border-box;
}
.column{
  float: left;
  width: 33.33%;
  padding: 5px;

}
.row::after{
  content: "";
  clear: both;
  display:table;
}
.ranking{
    background-color: white;
    width: 100%;
    display:inline-block;
  text-align: center;
  padding:20px   100px;
}

.linker{
  text-align: center;
}
.button {
  border: none;
  color: rgb(76, 17, 185);
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.footer{
  background-color: #333;
  text-align: center;
  padding:20px   130px;
  color: white;
}



