
.logo{
    font-family: monospace;
}
.pages li {
  float: left;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.pages li a {
display: block;
color: white;
text-align: center;
padding:20px   100px;
text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
background-color: #111;
}
.logo{
color: olivedrab;
font-size: xx-large;
padding-top: 20px;
}
.image1{
width: 100%;
height: 400px;
}
/* .container {
position: relative;
text-align: center;
 color: white; 
}  */
.centered {
position: absolute;
top: 40%;
left: 50%;
transform: translate(-50%, -50%);
color: rgb(243, 247, 247);
font-size:large;
}
.centered h1{
    color:peru;
}
.input{
    text-align: center;
    background-color: rgb(250, 246, 242);
    margin-top: -1cm; 
    height: 10cm;
    border-bottom: 6%;
    color: rgb(136, 128, 247);
    top: 50%;
}

#htmlquestions{
  text-align: left;
  background-color: rgb(250, 246, 242);
  display: block;
}

#cssquestions{
  text-align: left;
  background-color: rgb(250, 246, 242);
  display: block;
}

#javascriptquestions{
  text-align: left;
  background-color: rgb(250, 246, 242);
  display: block;
}

.submit{
    background-color: rgba(106, 106, 231, 0.274);
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.container h1{
    color: rgba(56, 56, 230, 0.884);
}
    

/* .footer{
    background-color: #333;
    text-align: center;
    padding:20px   130px;
    color: white;
  } */
